# See LICENSE file for copyright and license details.

language: rust

cache: cargo

rust:
    - nightly
    - beta
    - stable

os:
    - linux
    - osx

sudo: false

script:
    - make && make test

# vim: set tabstop=4 shiftwidth=4 softtabstop=4 expandtab:
