<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.native_activity"
    android:versionCode="1"
    android:versionName="1.0">
  <uses-sdk android:minSdkVersion="14" />
  <application android:label="OZKRIFF_TEST" android:hasCode="false">
    <activity android:name="android.app.NativeActivity"
        android:label="OZKRIFF_TEST"
	android:configChanges="orientation|keyboardHidden">
      <meta-data android:name="android.app.lib_name"
            android:value="native-activity" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
<!-- END_INCLUDE(manifest) -->
